<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>${nexus.repo.url.group}</url>
		</mirror>
	</mirrors>
	
	<profiles>
		<profile>
			<id>release-deployment</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<release.repository.url>${nexus.repo.url.release}</release.repository.url>
			</properties>
		</profile>
		<profile>
			<id>snapshot-deployment</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<snapshot.repository.url>${nexus.repo.url.snapshot}</snapshot.repository.url>
			</properties>
		</profile>
	</profiles>
	
	<servers>
		<server>
			<id>nexus-server</id>
			<username>${nexus.username}</username>
			<password>${nexus.password}</password>
		</server>
	</servers>
</settings>